.center{
    width: 80%;
    margin:auto;
}
body {
    margin: 0; /* Elimina los márgenes por defecto */
    min-height: 100vh; /* Permite que el body se expanda con el contenido */
    background: linear-gradient(to bottom, lightblue, lightgreen); /* Ajusta los colores del degradado */
    background-size: cover; /* Asegura que el gradiente cubra toda el área */
    background-repeat: no-repeat; /* Evita que el degradado se repita */
    font-family: Comic Sans MS, Arial, serif; /* Fuente para toda la página */
}


.box1{
    background-color: slategrey;
    border: 15px black solid ;
    border-radius: 30px;
    box-shadow: 30px 10px orangered;
}
.box1 h2{
    animation-duration: 2s;
    animation-name: fadeIn;
    text-align: center;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

a{
    transition-duration: 0.1s;
    text-decoration: none;
    color: rebeccapurple;
}
a:hover{
    color: orangered;
}


.encapsula{
    background-color: lightslategrey;
    border-radius: 15px;
    color: blanchedalmond;
    width: 50%;

}

.boton{
    transition-duration: 0.4s;
}
.boton:hover{
    background-color: red;
    color: white;
}

.textoanim p{
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}

